body{background-color:black;}
*{color:white}

h1{color:palevioletred}
#ModeloDeCaja{
    width: 300px;
    border: 15px solid blueviolet;
    padding: 50px;
    margin: 20px;
}
#FotoOddieCom{
width:100px ;
}

#iconowpp{
    position: fixed;
    bottom: 30px;
    right: 20px;
}
header{
    position:sticky;
    position:-webkit-sticky;
    top:0px;
    background-color:grey;

}
menu{
    list-style-type:none;

}
menu>a>li{
    display: inline;
}