body{background-color:#EDE7DC;}
*{color:#A47551}

h1{color:#CCAFA5}

#FotoOddieCom{
width:100px ;
}

#iconowpp{
    position: fixed;
    bottom: 30px;
    right: 20px;
}
.navbar-brand{
    display: none;
}
