#titulo{
    text-align: center;
    color:black;

} 
#subtitulo{
    text-align: center;
    color:black
}

menu{
    list-style-type:none;
    background-color: black;} *{color:white}
menu>a>li{
    display: inline;
}
#linkespecial{
    position: relative;
    left: 1200px
}